body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #222;
  background-color: #fafafa;
  /* text-align: center; */
  line-height: 1.4em;
}

.container {
  padding: 0;
  margin-top: 40px;
  text-align: center;
}

h3 {
  margin-top: 30px;
}

h2 {
  text-align: center;
}

.footer {
  margin-top: 40px;
  text-align: center;
}

code {
  font-family: monospace;
  padding: 2px;
  color: black;
  background-color: #fff;
}

a {
  color: #2574a9;
}

.note {
  justify-content: right;
  padding-left: 20px;
  padding-right: 20px;

}
